{% extends 'FungiClassification/base.html' %}

{% load static %}

{% block scripts %}
<link href="{% static 'css/about.css' %}" rel="stylesheet" media="all" type="text/css">
<link href="{% static 'css/tutorial.css' %}" rel="stylesheet" media="all" type="text/css">
<link href="{% static 'css/navigationMenu.css' %}" rel="stylesheet" media="all" type="text/css">
{% endblock %}

{% block content %}
<div class="cuerpo">
    <div class="left">
            <h2 style="color:#009900; margin-left:10%">About</h2>
                <ul>
            <li><a href="#1">Authors</a></li>
            <li><a href="#2">Collaborators</a></li>
            <li><a href="#3">Acknowledgements</a></li>
            <li><a href="#4">Contact</a></li>
                </ul>
    </div>
    <div class="right">
        <h2>About</h2>
        <blockquote>
        <a name="1"></a>
        <h3>Authors</h3>
            <p>César Domínguez, Jónathan Heras, Eloy Mata, and Vico Pascual from the <a href="www.unirioja.es/dptos/dmc">Department of Mathematics and Computer Science of University of La Rioja (Spain).</a>.</p>
        <a name="2"></a>
        <h3>Collaborators</h3>
            <p>A first version of this web application was developed by Ignacio López as his final year project.</p>
            <p>This web application was born as a collaboration with the team of Gerardo Vázquez-Marrufo (Multidisciplinary Center of Biotechnology
                Studies (CMEB), Faculty of Veterinary Medicine, Universidad Michoacana de San Nicolás de Hidalgo, Mexico.) and
                Mª Soledad Vázquez-Garcidueñas (Division of Postgraduate Studies, Faculty of Medical and Biological Sciences "Dr.
Ignacio Chávez", Universidad Michoacana de San Nicolás de Hidalgo, Mexico.).</p>
<a name="3"></a>
        <h3>Acknowledgements</h3>
            <p>This work was partially supported by the Ministerio de Economía y Competitividad project [MTM2014-54151-P].</p>

            <a name="4"></a>
        <h3>Contact</h3>
            <p><a href="mailto:joheras@gmail.com">Jónathan Heras</a></p>
</blockquote>
    </div>
</div>
{% endblock %}